$color-text: #f3f3f3;
$background-color-card: #070d12;
$border-card: #e126d9;
$border-card-img: #02d08f;
$occupation-color: #b8bbc5;
$selected-color: #262626;
$tab-color-hover: #414141;
$linkedin-color: #1d87bd;
$github-color: #545454;